<a href="#" data-click="scroll-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
<!-- END btn-scroll-top -->
<!-- BEGIN theme-panel -->
<div class="theme-panel">
        <a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
        <div class="theme-panel-content">
                <!-- <ul class="theme-list clearfix">
            <li><a href="javascript:;" class="bg-red" data-theme="theme-red" data-click="theme-selector"
                    data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Red"
                    data-original-title="" title="">&nbsp;</a></li>
            <li><a href="javascript:;" class="bg-pink" data-theme="theme-pink" data-click="theme-selector"
                    data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Pink"
                    data-original-title="" title="">&nbsp;</a></li>
            <li><a href="javascript:;" class="bg-orange" data-theme="theme-orange" data-click="theme-selector"
                    data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Orange"
                    data-original-title="" title="">&nbsp;</a></li>
            <li><a href="javascript:;" class="bg-yellow" data-theme="theme-yellow" data-click="theme-selector"
                    data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Yellow"
                    data-original-title="" title="">&nbsp;</a></li>
            <li><a href="javascript:;" class="bg-lime" data-theme="theme-lime" data-click="theme-selector"
                    data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Lime"
                    data-original-title="" title="">&nbsp;</a></li>
            <li><a href="javascript:;" class="bg-green" data-theme="theme-green" data-click="theme-selector"
                    data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Green"
                    data-original-title="" title="">&nbsp;</a></li>
            <li><a href="javascript:;" class="bg-teal" data-theme="theme-teal" data-click="theme-selector"
                    data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Teal"
                    data-original-title="" title="">&nbsp;</a></li>
            <li><a href="javascript:;" class="bg-cyan" data-theme="theme-cyan" data-click="theme-selector"
                    data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Aqua"
                    data-original-title="" title="">&nbsp;</a></li>
            <li class="active"><a href="javascript:;" class="bg-blue" data-theme="" data-click="theme-selector"
                    data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Default"
                    data-original-title="" title="">&nbsp;</a></li>
            <li><a href="javascript:;" class="bg-purple" data-theme="theme-purple" data-click="theme-selector"
                    data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Purple"
                    data-original-title="" title="">&nbsp;</a></li>
            <li><a href="javascript:;" class="bg-indigo" data-theme="theme-indigo" data-click="theme-selector"
                    data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Indigo"
                    data-original-title="" title="">&nbsp;</a></li>
            <li><a href="javascript:;" class="bg-gray-600" data-theme="theme-gray-600" data-click="theme-selector"
                    data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Gray"
                    data-original-title="" title="">&nbsp;</a>
            </li>
        </ul> -->
                <hr class="mb-0">
                <div class="row mt-10px pt-3px">
                        <div class="col-9 control-label text-body-emphasis fw-bold">
                                <div>Dark Mode <span
                                                class="badge bg-theme text-theme-color ms-1 position-relative py-4px px-6px"
                                                style="top: -1px">Toggle</span></div>
                                <div class="lh-sm fs-13px fw-semibold">
                                        <small class="text-body-emphasis opacity-50"> Adjust the appearance to reduce
                                                glare and give your eyes a break. </small>
                                </div>
                        </div>
                        <div class="col-3 d-flex">
                                <div class="form-check form-switch ms-auto mb-0 mt-2px">
                                        <input type="checkbox" class="form-check-input" name="app-theme-dark-mode"
                                                id="appThemeDarkMode" value="1">
                                        <label class="form-check-label" for="appThemeDarkMode">&nbsp;</label>
                                </div>
                        </div>
                </div>
        </div>
</div>
<!-- END theme-panel -->
</div>
<!-- END #app -->
<!-- ================== BEGIN core-js ================== -->
<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="assets/js/vendor.min.js" type="d6bf14eaaa9f52bf12d56c85-text/javascript"></script>
<script src="assets/js/app.min.js" type="d6bf14eaaa9f52bf12d56c85-text/javascript"></script>
<!-- ================== END core-js ================== -->
<!-- ================== BEGIN page-js ================== -->
<script src="assets/plugins/apexcharts/dist/apexcharts.min.js" type="d6bf14eaaa9f52bf12d56c85-text/javascript"></script>
<script src="assets/js/demo/dashboard.demo.js" type="d6bf14eaaa9f52bf12d56c85-text/javascript"></script>
<!-- ================== BEGIN page-js ================== -->
<script src="assets/plugins/summernote/dist/summernote-lite.min.js"
        type="9a99fbbff6bfd0a8d110b2cf-text/javascript"></script>
<script src="assets/plugins/jquery-migrate/dist/jquery-migrate.min.js"
        type="9a99fbbff6bfd0a8d110b2cf-text/javascript"></script>
<script src="assets/plugins/tag-it/js/tag-it.min.js" type="9a99fbbff6bfd0a8d110b2cf-text/javascript"></script>
<script src="assets/js/demo/page-product-details.demo.js" type="9a99fbbff6bfd0a8d110b2cf-text/javascript"></script>
<!-- ================== END page-js ================== -->
<script src="cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js"
        data-cf-settings="d6bf14eaaa9f52bf12d56c85-|49" defer></script>
<!-- <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015"
        integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ=="
        data-cf-beacon='{"rayId":"9234fc217ce19ed0","version":"2025.1.0","r":1,"serverTiming":{"name":{"cfExtPri":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}},"token":"4db8c6ef997743fda032d4f73cfeff63","b":1}'
        crossorigin="anonymous"></script> -->
<script>
        function createMultiSelectDropdown(containerId, inputId, options) {
                const container = document.getElementById(containerId);
                const hiddenInput = document.getElementById(inputId);

                // Create dropdown button
                const dropdownButton = document.createElement("button");
                dropdownButton.className = "btn btn-primary dropdown-toggle";
                dropdownButton.type = "button";
                dropdownButton.dataset.bsToggle = "dropdown";
                dropdownButton.innerText = "Choose Options";

                // Create dropdown menu
                const dropdownMenu = document.createElement("ul");
                dropdownMenu.className = "dropdown-menu p-2";

                options.forEach(option => {
                        const listItem = document.createElement("li");
                        listItem.className = "dropdown-item";

                        const checkbox = document.createElement("input");
                        checkbox.type = "checkbox";
                        checkbox.value = option;
                        checkbox.className = "form-check-input option-checkbox me-2";

                        const label = document.createElement("label");
                        label.innerText = option;
                        label.className = "form-check-label";

                        listItem.appendChild(checkbox);
                        listItem.appendChild(label);
                        dropdownMenu.appendChild(listItem);
                });

                // Create container for tags
                const tagContainer = document.createElement("div");
                tagContainer.className = "border rounded p-2 d-flex flex-wrap mt-2";

                // Append elements to the container
                container.appendChild(dropdownButton);
                container.appendChild(dropdownMenu);
                container.appendChild(tagContainer);

                // Function to update the tag display and hidden input value
                const updateTags = () => {
                        tagContainer.innerHTML = "";
                        let selectedValues = [];

                        // Get all checkboxes within this container
                        const checkboxes = container.querySelectorAll(".option-checkbox");
                        checkboxes.forEach(checkbox => {
                                if (checkbox.checked) {
                                        selectedValues.push(checkbox.value);
                                        // Create a tag element with a remove button
                                        const tagElement = document.createElement("span");
                                        tagElement.className = "badge bg-light text-dark me-2 p-2 d-flex align-items-center";
                                        tagElement.innerHTML = `${checkbox.value} 
              <button type="button" class="btn-close ms-2" aria-label="Remove"></button>`;
                                        // Remove tag event handler
                                        tagElement.querySelector("button").addEventListener("click", () => {
                                                checkbox.checked = false;
                                                updateTags();
                                        });
                                        tagContainer.appendChild(tagElement);
                                }
                        });

                        // Update hidden input as JSON string of selected values
                        hiddenInput.value = JSON.stringify(selectedValues);
                };

                // Listen for changes on checkboxes within the dropdown menu
                dropdownMenu.addEventListener("change", function (event) {
                        if (event.target.matches(".option-checkbox")) {
                                updateTags();
                        }
                });
        }

        // Initialize dropdowns for Features and Games
        createMultiSelectDropdown("featuresDropdown", "featuresInput", ["Indoor Courts",
                "Outdoor Courts",
                "Lockers",
                "Shower Rooms",
                "Equipment Rental",
                "Parking",
                "Snack Bar / Cafe",
                "Seating / Spectator Area",
                "Scoreboards",
                "Online Booking",
                "Wheelchair Accessibility",
                "First Aid Station",
                "Lighting",
                "Changing Rooms",
                "Wi-Fi",
                "Pro Shop",
                "Membership Plans"]);
        createMultiSelectDropdown("gamesDropdown", "gamesInput", ["Padel", "Snooker", "Darts"]);

</script>
</body>

</html>