<div id="sidebar" class="app-sidebar">
    <!-- BEGIN scrollbar -->
    <div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
        <!-- BEGIN menu -->
        <div class="menu">
            <div class="menu-header">Navigation</div>
            <div class="menu-item active">
                <a href="admin/dashboard" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-laptop"></i></span>
                    <span class="menu-text">Dashboard</span>
                </a>
            </div>
            <!-- <div class="menu-item">
                <a href="analytics.html" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-chart-pie"></i></span>
                    <span class="menu-text">Analytics</span>
                </a>
            </div> -->
            <div class="menu-divider"></div>
            <div class="menu-header">Sports Centers & Bookings</div>
            <div class="menu-item">
                <a href="admin/sports-center/" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-building"></i></span>
                    <span class="menu-text">Manage Sports Centers</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="admin/bookings" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-book"></i></span>
                    <span class="menu-text">Manage Bookings</span>
                </a>
            </div>
            <div class="menu-divider"></div>
            <div class="menu-header">Academy & Users</div>
            <div class="menu-item">
                <a href="admin/academy/" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-graduation-cap"></i></span>
                    <span class="menu-text">Manage Academy</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="admin/manage-users/" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-users"></i></span>
                    <span class="menu-text">Manage Users</span>
                </a>
            </div>
            <div class="menu-divider"></div>
            <div class="menu-header">Payments</div>
            <div class="menu-item">
                <a href="admin/manage-transactions" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-exchange-alt"></i></span>
                    <span class="menu-text">Manage Payments</span>
                </a>
            </div>
            <!-- <div class="menu-item has-sub">
                <a href="javascript:;" class="menu-link">
                    <div class="menu-icon">
                        <i class="fa fa-wallet"></i>
                    </div>
                    <div class="menu-text d-flex align-items-center">POS System</div>
                    <span class="menu-caret"><b class="caret"></b></span>
                </a>
                <div class="menu-submenu">
                    <div class="menu-item">
                        <a href="pos_customer_order.html" target="_blank" class="menu-link">
                            <div class="menu-text">Customer Order</div>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="pos_kitchen_order.html" target="_blank" class="menu-link">
                            <div class="menu-text">Kitchen Order</div>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="pos_counter_checkout.html" target="_blank" class="menu-link">
                            <div class="menu-text">Counter Checkout</div>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="pos_table_booking.html" target="_blank" class="menu-link">
                            <div class="menu-text">Table Booking</div>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="pos_menu_stock.html" target="_blank" class="menu-link">
                            <div class="menu-text">Menu Stock</div>
                        </a>
                    </div>
                </div>
            </div> -->
            <div class="menu-divider"></div>
            <div class="menu-header">Account & Website Settings</div>
            <div class="menu-item">
                <a href="profile.html" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-user-circle"></i></span>
                    <span class="menu-text">Profile</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="settings.html" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-cog"></i></span>
                    <span class="menu-text">Settings</span>
                </a>
            </div>
            <div class="p-3 px-4 mt-auto hide-on-minified">
                <a href="documentation/index.html" class="btn btn-secondary d-block w-100 fw-600 rounded-pill"
                    target="_blank">
                    <i class="fa fa-code-branch me-1 ms-n1 opacity-5"></i> Support </a>
            </div>
        </div>
        <!-- END menu -->
    </div>
    <!-- END scrollbar -->
    <!-- BEGIN mobile-sidebar-backdrop -->
    <button class="app-sidebar-mobile-backdrop" data-dismiss="sidebar-mobile"></button>
    <!-- END mobile-sidebar-backdrop -->
</div>